

*{
  background-color:#41889c ;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}


body{
  background-color:#41889c;

}

.container{
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;

}

.row{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-link{
  color: white;
}

footer a{ 
  color: white;
}

#bio p{
  text-align: start;
}

#streaming a{
  text-decoration: none;
  color: white;
}

#contactForm form{
  color: white;
  text-align: center; 
}



input[type="text"], textarea {
  font-size: large;
  text-align: center;
  border: none;
}

input[type=submit], input[type=image], input[type=reset] {
  
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
  border: none;

}

#contactForm textarea  
{  
  font-size: large;
  text-align: center;
  border: none;
}

#footer img{
  width: 10%
}

footer a:hover{
    
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #footer img{
    width: 40%
  }
}

@media screen and (min-width: 600px) {
  #bio img{
    width: 40%
  }
}

@media screen and (min-width: 600px) {
  #title img{
    width: 60%
  }
}

@media screen and (max-width: 600px) {
  #streaming i{
    font-size: 105%;
  }
}





